<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>

<div class="topnav">
<nav style="background-color: white">
<!--    <div class="login-box">-->
    <a href="/myprofile">
        profile
    </a>

    <a href="/login">
        Login
    </a>

    <a href="/feed">
        Posts
    </a>

    <a href="/users">
        Users
    </a>

    <a href="/signup">
        Register
    </a>

    <a href="/logout">
        Logout
    </a>
</nav>
</div>


<div class="login-box">
    <form action="/login" method="GET">

<!--        <div class="user-box">-->
<!--            <img src="../static/images/test.png" width="250" th:src="@{images/test.png}"/><h2 th:text="'Hello '+ ${username} + '!'"></h2>-->
<!--        </div>-->

        <div class="card">
            <img src="../static/images/test.png" width="250%" th:src="@{images/test.png}"/>
            <div class="container">
                <h2 th:text="'Hello '+${username} + ' ^_^'"></h2>
            </div>
        </div>


<!--        -->
<!--        <div class="user-box"><h2 th:text="'Hello '+ ${username} + '!'">-->
<!--        </h2></div>-->



<!--<br>-->
<!--<br>-->

<!--<a href="/login">-->
<!--    <span></span>-->
<!--    <span></span>-->
<!--    <span></span>-->
<!--    <span></span>-->
<!--    Login-->
<!--</a>-->

<!--<br>-->
<!--<br>-->

<!--    <a href="/signup">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        Register-->
<!--    </a>-->

<!--<br>-->
<!--<br>-->
<!--        <a href="/myprofile">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            profile-->
<!--        </a>-->

<!--        <br>-->
<!--        <br>-->

<!--    <a href="/logout">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        Logout-->
<!--    </a>-->

    </form>
</div>
</body>
</html>